<div class="container">
    
    <div class="row">

        <div class="col">

            Do you want to Change the user to 
            
            <div class="input-group">
                <button class="btn btn-success"> Ok </button>
            </div>


        </div>
    
    </div>

</div>


@code {
    [Parameter] public string? EmployeeID { get; set; }
}
