


.table-striped {
    padding: 0px !important;
    margin: 0px !important;
}

.table-striped {
    font-size: 12px;
}

.table-custom-2 td, th {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 25px;
}

.table {
    margin-bottom: 0px;
}

.item-1 {
    width: 5%;
}

.item-0 {
    width: 3%;
}

.item-2 {
    width: 86%;
}

.item-child {
    width: 4.75% !important;
    margin-top: 5px;
    margin-bottom: 0px;
    border: 1px solid #cfcfcf;
}

.content-center-items {
    align-items: baseline;
}

.back-color {
    background-color: #212529;
    border-color: #252921;
}
